.main {
  padding: 40px;
}

.main__title {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  color: #000000;
  margin: 0 0 35px 0;
}

.main__container {
  width: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(10, 1fr);
}
